@page
@model SoftwareCenter.Pages.Catalog.Index



<h1>The Software Catalog</h1>
<section class="row">
    <div class="col">
        @if (Model.Catalog is not null && Model.Catalog.Count == 0)
        {
            <div class="alert alert-info">No software in the catalog!</div>
        }
        else
        {
            @foreach (var title in Model.Catalog!)
            {
                <div class="card">
                    <div class="card-header"><h4>@title.Title</h4></div>
                    <div class="card-body">
                        <p>@title.Title is published by @title.Publisher</p>
                        <p>The support tech is @title.SupportTech.Name</p>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col">
        <div>
            <div class="card-header">
                <h5>Support Techs</h5>
            </div>
            <div class="card">
                <div class="card-body">
                    @foreach (var tech in Model.Techs)
                    {
                        <details>
                            <summary>@tech.Name</summary>
                            <p>@tech.EmailAddress</p>
                        </details>
                    }
                </div>
            </div>


            <div class="card">
                <div class="card-header"><h4>Add a Support Tech</h4></div>
                <div class="card-body">
                    <form method="post" asp-page-handler="Tech">
                        <div class="form-group">
                            <label asp-for="TechInfo.Name"></label>
                            <input type="text" asp-for="TechInfo.Name" class="form-control" value="" />
                        </div>
                        <div class="form-group">
                            <label asp-for="TechInfo.EmailAddress"></label>
                            <input type="text" asp-for="TechInfo.EmailAddress" class="form-control" value="" />
                        </div>
                        <button class="btn btn-primary" type="submit">Add Tech</button>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <p>Add A Software Item</p>
            <div class="card">
                <div class="card-header"><h4>Add A Title To The Catalog</h4></div>
                <div class="card-body">
                    <form method="post" asp-page-handler="Title">
                        <div class="form-group">
                            <label asp-for="TitleInfo.Title"></label>
                            <input type="text" asp-for="TitleInfo.Title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="TitleInfo.Publisher"></label>
                            <input type="text" asp-for="TitleInfo.Publisher" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="TitleInfo.TechId"></label>
                            <select asp-for="TitleInfo.TechId" class="form-control">
                                @foreach (var tech in Model.Techs)
                                {
                                    <option value="@tech.Id">@tech.Name</option>
                                }
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Add Tech</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>